[submodule "themes/spectral"]
	path = themes/spectral
	url = https://github.com/sbruder/spectral.git

[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
